

<md-content align="center">
    <h1>
        <i class="material-icons list-logo" style="color:#333;margin-top:5px">view_quilt</i>Scenes
    </h1>
</md-content>
<md-content>
    <md-button class="md-fab md-fab-bottom-right md-primary" ng-click="addScenesClick($event)">
        <i class="material-icons">add</i>
    </md-button>
    <md-content class="content-list">
        <a href="#/scene?id={{scene.identifier}}" ng-repeat="scene in scenes">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <div layout="row">
                            <div flex="10" align="center" style="padding-top:5px;padding-right:20px">
                                <i class="material-icons" style="font-size: 48px;color:#999">
                                weekend
                            </i>
                            </div>
                            <div flex="90" style="padding-top:0px">
                                <span class="md-headline">
                                {{scene.metaData.data.name}}
                            </span>
                                <br>
                                <span class="md-subhead">
                                Models: {{scene.models.length}}
                            </span>
                            </div>
                        </div>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end right" style="margin-top:-40px">
                    <md-button class="md-fab md-warn md-mini" ng-click="deleteSceneClick(scene,$event)">
                        <i class="material-icons">delete</i>
                    </md-button>
                </md-card-actions>
            </md-card>
        </a>
    </md-content>
</md-content>