<md-dialog aria-label="Edit Provider">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    Edit {{currentProvider.type === "SkeletonProviderConfig" ? "skeleton provider" : "speech provider"}}
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>

            <md-content layout-padding>
                <div>
                    <form name="userForm">
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Scene</label>
                                <md-select ng-model="currentProvider.scene" ng-change="sceneChanged()">
                                    <md-option><em>None</em></md-option>
                                    <md-option ng-repeat="scene in scenes" ng-value="scene">
                                        {{scene.metaData.data.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Model</label>
                                <md-select ng-model="currentProvider.model">
                                    <md-option><em>None</em></md-option>
                                    <md-option ng-repeat="model in models" ng-value="model">
                                        {{model.metaData.data.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>IP-Address</label>
                                <input ng-model="currentProvider.remoteAddress">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Port</label>
                                <input ng-model="currentProvider.port">
                            </md-input-container>
                        </div>
                    </form>
                </div>
            </md-content>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <span flex></span>
            <md-button ng-click="save()" class="md-raised md-primary">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>