<md-content align="center">
    <h1>
        <i class="material-icons list-logo" style="color:#333">input</i>Provider
    </h1>
</md-content>

<md-content>
    <md-button class="md-fab md-fab-bottom-right md-primary" ng-click="addProviderClick($event)">
        <i class="material-icons">add</i>
    </md-button>
    <md-content class="content-list">
        <md-card ng-repeat="prov in provider">
            <md-card-title>
                <md-card-title-text>
                    <div layout="row">
                        <div flex="10" align="center" style="padding-top:20px;padding-right:20px">
                            <i class="material-icons" style="font-size: 48px;color:#999" ng-repeat="type in prov.providerTypes">
                            {{type === "Speech" ? "mic_none" :"accessibility" }} 
                        </i>
                        </div>
                        <div flex="90" style="padding-top:{{prov.providerTypes.length *10}}px">
                            <span class="md-headline">
                            {{prov.model.metaData.data.name}}
                        </span>
                            <br>
                            <span class="md-subhead">
                            Scene: {{prov.scene.metaData.data.name}}
                        </span>
                            <br>
                            <span class="md-subhead">
                            Address: {{prov.remoteAddress}}:{{prov.port}}
                        </span>
                        </div>
                    </div>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center" style="margin-top:-40px">
                <md-button class="md-fab md-primary md-mini" ng-click="editProviderClick(prov,$event)">
                    <i class="material-icons">edit</i>
                </md-button>
                <md-button class="md-fab md-warn md-mini" ng-click="deleteProviderClick(prov,$event)">
                    <i class="material-icons">delete</i>
                </md-button>
            </md-card-actions>
        </md-card>
    </md-content>
</md-content>